*.iml
.gradle/
**/build/
build/
/local.properties
/.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
.kotlin/
live_*.png
screen_*.png
emulator_*.png
tab_*.png
sample_*.png
sample_*.txt
